body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #9e75ac;
  font-size: 44px;
  font-weight: 800;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 40px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}

ul {
  margin-top: 40px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(45, 45, 45);
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
}

li:first-letter {
  text-transform: capitalize;
}

.container {
  max-width: 800px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: rgba(55, 55, 74, 0.2) 0px 5px 5px 0;
}

.weather-app {
  padding: 30px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}
.form-control {
  border-radius: 10px;
  background-color: #ecf0ff;
  border: none;
}

.search {
  width: 135px;
  height: 38px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #9e75ac;
  border: none;
  margin-bottom: 10px;
  transition: all 200ms ease;
  box-shadow: rgba(55, 55, 74, 0.2) 0px 5px 5px 0;
}

.search:hover {
  border-radius: 10px;
  background-color: #000000;
}

.current-location {
  background-color: #8cc8fd;
  width: 135px;
  height: 38px;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  margin-bottom: 10px;
  transition: all 200ms ease;
  box-shadow: rgba(55, 55, 74, 0.2) 0px 5px 5px 0;
}

.current-location:hover {
  border-radius: 10px;
  background-color: #000000;
}

.weather-temperature {
  margin-top: 10px;
}

.weather-temperature img {
  margin-top: 20px;
  margin-right: 5px;
  height: 84px;
  width: 84px;
}

.weather-temperature strong {
  color: #9e75ac;
  font-size: 84px;
  font-weight: 600;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -44px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  color: black;
}

.card-weather {
  width: 60x;
  height: 100px;
  background: #f5e0ff;
  border-radius: 10px;
  padding: 5px;
  transition: transform 0.35s;
}

.card-weather:hover {
  transform: scale(1.1);
  background-color: rgb(140, 200, 253);
}

.weather-forecast-date {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}

.ref-information {
  display: block;
  margin: 0 auto;
  text-align: center;
}
